$font-path: "../../fonts";

// @include fonts($fontTitle, 'BrownPro-Bold', 700);
@mixin fonts($name, $directory, $file, $weight, $style: "normal") {
  @font-face {
    font-family: $name;
    src: url("#{$font-path}/#{$directory}/#{$file}.eot");
    src: url("#{$font-path}/#{$directory}/#{$file}.eot?#iefix")
        format("embedded-opentype"),
      url("#{$font-path}/#{$directory}/#{$file}.woff2") format("woff2"),
      url("#{$font-path}/#{$directory}/#{$file}.woff") format("woff"),
      url("#{$font-path}/#{$directory}/#{$file}.ttf") format("truetype"),
      url("#{$font-path}/#{$directory}/#{$file}.svg") format("svg");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}
