header {
  padding-top: 30px;
  padding-bottom: 30px;

  nav {
    align-items: center;

    .logo {
      grid-column: span 3;
    }

    ul.nav {
      display: flex;
      justify-content: flex-end;
      column-gap: 20px;
      grid-column: span 9;

      li {
        position: relative;
        padding: 10px 5px;

        a {
          text-transform: uppercase;
        }

        &.nav-item--active a {
          font-weight: 700;
        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          border-radius: 4px;
          border: 1px solid #e5e5e5;
          width: 100%;
        }

        &:hover {
          ul {
            display: block;
          }
        }
      }
    }
  }
}
